<section class="leaders-section">
    <app-navigation/>
    <app-side-nav [items]="leaderSideNavItems"></app-side-nav>

    <div class="main" >
        <div class="main">
            <app-leader-card *ngFor="let leader of leaderInfo" [leader]="leader"></app-leader-card>
        </div>
        
         
    </div>
</section>
<!-- <img src="../../../../assets/images/dineo.png" alt="" srcset=""> -->
<!-- <app-leader-card 
            leaderImage="../../../../assets/images/leaders/dineo.png"
            leaderName="Credo Vulamasango Mutwa"
        />
        <app-leader-card 
            leaderImage="../../../../assets/images/leaders/ntsingiswa1.png"
            leaderName="Credo Vulamasango Mutwa"
        />
        <app-leader-card 
            leaderImage="../../../../assets/images/leaders/skhotheni.jpg"
            leaderName="Credo Vulamasango Mutwa"
        />
        <app-leader-card 
            leaderImage="../../../../assets/images/leaders/velaphi.webp"
            leaderName="Credo Vulamasango Mutwa"
        />
        <app-leader-card 
            leaderImage="../../../../assets/images/leaders/gogo-moyo.jpg"
            leaderName="Credo Vulamasango Mutwa"
        />
       
        <app-leader-card 
            leaderImage="../../../../assets/images/leaders/bathini.jpg"
            leaderName="Credo Vulamasango Mutwa"
        /> -->