.leaders-section{
  
    width: 100%;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr auto;
   
    grid-template-areas: 
    "navbar navbar"
    "sidebar main";
}

app-navigation{
    position: sticky;
    top: 0;
    z-index: 100;
    grid-area: navbar;
}

app-side-nav{
    grid-area: sidebar;
    position: sticky;
    top: 0;
    z-index: 100;  
    
}
.main {
    background-color: #f9f6f3;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
   
    align-items: flex-start; /* Aligns items at the top */
}

