<section class="leaders-section">
    <app-navigation />
    <app-side-nav [items]="leadersCategories" />

    <div class="main">
         <!-- <img src="../../../../assets/images/leaders/bathini.jpg" alt="" srcset="">          -->
       
        <app-leader-card 
            leaderImage="../../../../assets/images/leaders/credo.jpg"
            leaderName="Credo Vulamasango Mutwa"
        />
        <app-leader-card 
            leaderImage="../../../../assets/images/leaders/dineo.png"
            leaderName="Credo Vulamasango Mutwa"
        />
        <app-leader-card 
            leaderImage="../../../../assets/images/leaders/ntsingiswa1.png"
            leaderName="Credo Vulamasango Mutwa"
        />
        <app-leader-card 
            leaderImage="../../../../assets/images/leaders/skhotheni.jpg"
            leaderName="Credo Vulamasango Mutwa"
        />
        <app-leader-card 
            leaderImage="../../../../assets/images/leaders/velaphi.webp"
            leaderName="Credo Vulamasango Mutwa"
        />
        <app-leader-card 
            leaderImage="../../../../assets/images/leaders/gogo-moyo.jpg"
            leaderName="Credo Vulamasango Mutwa"
        />
        <app-leader-card 
            leaderImage="../../../../assets/images/leaders/mphowabadimo.jpg"
            leaderName="Credo Vulamasango Mutwa"
        />
        <app-leader-card 
            leaderImage="../../../../assets/images/leaders/bathini.jpg"
            leaderName="Credo Vulamasango Mutwa"
        />
         
    </div>
</section>