<div class="landing-page">
    <div class="img-box">
        <img src="" alt="" srcset="">
    </div>
    <div class="info">
        
        <div class="content">
            <div id="landing-beads" class="floating-tools"></div>
            <div id="landing-bones" class="floating-tools"></div>
            <h1>Unlock Your Spiritual Gift</h1>
            <div id="liner"></div>
            <p>Discover the power of your spiritual gift and embrace your ancestral 
               calling. Whether you are a Sangoma, Traditional Healer, or simply
                seeking to understand your spiritual path, this platform is designed 
                 to guide you
            </p>

            <app-button
            link="/register-page"  
                buttonText="Start Journey"
                hoverBackgroundColor="#bf9c7d"
            />
        </div>
        
        <!-- <button [routerLink]="'/register-page'" class="dark-button">Start Journey</button> -->
        
    </div>
    
</div>
