.leader-card{
    background:#333;
    width: 200px;
    height: 240px;
    border-bottom: 2px solid #ED9B35;
    margin: 5px ;
    cursor: pointer;

}

.image-box{
    width: 100%;
    height: 200px;
    border: 1px solid #BF9C7D;
}

.image-box img{
    object-fit: cover;
    object-position: center;
}

p{
    width: 100%;
    height: 30px;
    padding: 10px 5px;
    color: #fff;
    font-size: 14px;
}