<section class="gifts-section">
    <app-navigation></app-navigation>
    
    <!-- Side Navigation with Clickable Categories -->
    <app-side-nav 
        [items]="giftItems"
        [categoryItem]="selectedCategory"
        (categorySelected)="selectCategory($event)">
    </app-side-nav>



    <!-- Main Content for Gifts -->
    <div class="main">
        <app-item-info-card
            *ngFor="let gift of filteredGifts"
            [itemTitle]="gift.name"
            [itemImage]="'http://localhost:5003' +gift.imagePath"
            [itemMessage]="extractText(gift.info)">
        </app-item-info-card>
    </div>   
</section>
