.content-box{
    background-color: #14181C;
    width: 100%;
    height: 100%;
    padding: 60px 50px;
    color: #fff;
}

.separator{
    content: "";
    width: 70px;
    height: 2px;
    background-color: #c4c0c0;
    margin: 20px 0;
}

p{

    margin: 20px 0 60px 0;
    width: 65%;
}

.content-btn{
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 5px 20px;
    top: 50px;
}

.content-btn:hover{
    background-color: #fff;
    color:#14181C;
    
}