aside{
    padding: 0px 20px 0 0;
    color: #333;
    position: sticky;
    z-index: 100;
    top: 5rem;
    width: 100%;
    overflow: hidden;
    /* height: calc(100vh - 129px); */
    /* background-color: purple; */
    
}

form{
    width: 100%;
    display: flex;
    margin: 0 0 15px 0 ;
    
    
}
button{
    color: #272D32;
    width: 40px;
    height: 40px;
    background: #BF9C7D;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover{
    background: #E5AC65;
    cursor: pointer;
}

img{
    width: 15px;
    height: 15px;
}

#search{
    height: 40px;
    width: 90%;
    padding: 10px 0 10px 20px;
}

ul{
    list-style: none;
}

li{
    display: flex;
    /* border: 1px solid #BF9C7D; */
    margin-bottom: 10px ;
    align-items: center;
    color: #fff;
    padding: 7px;
    transition: all 0.2s ease-in-out;
    
}

li:hover{
    background-color: #f9f6f3;
    color: #272D32;
    cursor: pointer;
}

.active{
    background-color: #f9f6f3;
    color: #272D32;
}

p{
    margin-left: 10px;
}

a{
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    background-color: aqua;
    border: 1px solid green;
}

.image-box{
    background-color: #b0825f;
    width: 40px;
    height: 40px;
    /* border-radius: 5px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-box img{
    width: 20px;
    height: 20px;
}

.logo{
    margin-top: 10px;
    display: flex;
    align-items: center;
    color: #d6d1d1;
    
}
#logo{
    width: 40px;
    height: 40px;
    background-image: url("../../../assets/images/Logo.png");
    background-position: center;
    background-size: cover;
}

