
.submission-side{
    padding: 20px 30px 30px;
}

form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
}

.form-group{
  width: 28rem ;
  position: relative;
  z-index: 0;
}



input[type="file"] {
  display: none;
}
.file-uploader{
  margin-top: 0;
}
.custom-file-upload  {
  width: 83%;
  background-color: var(--color, #0f1923);
  color: #dadada;
  cursor: pointer;
  padding: 15px 12px;
}

.file-uploader .icon-container{
  background-color: #313f48;
}

.full-width-button {
    width: 49%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-color: yellow;
  }
  
  .full-width-button app-button {
    width: 100%;
    height: 100%;
    max-width: 100%;
    margin-left: auto;
    box-sizing: border-box;
  }

  .liner{
    margin:15px 0 30px 0;
    
}


  .editor-container {
    width: 100%; /* Set width to full or a specific width */
    height: 20rem; /* Adjust height as needed */
    background-color: #f1ebe3; /* Background color */
    padding: 10px; /* Padding to keep visible */
    margin-bottom: 20px; /* Space below */
    box-sizing: border-box; /* Include padding in height calculation */
  }
  
  /* Inner scrollable area */
  .editor-scroll {
    height: 100%; /* Take full height of the container */
    overflow-y: scroll; /* Enable vertical scrolling */
    box-sizing: border-box;
    background-color: #fff;
  }

  app-text-editor{
    background-color: #fff;
  }

.tool-table{
    width: 100%;
    padding :30px;
}

.tool-table table{
    
    width: 100%;
}

thead{
    width: 100%;
    background-color: #bf9c7d;
    padding: 10px;
    color:#ffff;
    
}

thead th{
    border: 1px solid #fff;
    padding: 15px 10px;
    text-align: start;
    border: 1px solid #cacaca;
}

tbody td{
    padding:10px;
    border: 1px solid #cacaca;
    color: #686767;
}

tr:nth-child(even) {
    background: #f1ebe3;
  }
