<section class="leaders-section">
    <app-intro-banner
    title="Leaders in African Spirituality" 
    message=""
    background="none"
    [linerBackground]="'#ED9B35'"
    [showLiner]="true"
     >
    </app-intro-banner>

    <div class="leaders-list">
        <div class="leader-box">
            <div class="pic-box">
                <img src="../../../../assets/images/credo-mtwa-red-cloak_0.jpg" alt="" srcset="">
            </div>
            <p>Credo Vulamasango Mutwa</p>
        </div>

        <div class="leader-box">
            <div class="pic-box">
                <img src="../../../../assets/images/dineo.png" alt="" srcset="">
            </div>
            <p>Gogo Dineo Nhlanzi</p>
        </div>

        <div class="leader-box">
            <div class="pic-box">
                <img src="../../../../assets/images/FOEeAcjXIAYAt3E.jpg" alt="" srcset="">
            </div>
            <p>Gogo Skhotheni</p>
        </div>

        <div class="leader-box">
            <div class="pic-box">
                <img src="../../../../assets/images/bathini.jpg" alt="" srcset="">
            </div>
            <p>Gogo Bathini Mbatha</p>
        </div>

        <div class="leader-box">
            <div class="pic-box">
                <img src="../../../../assets/images/d207169ff8894e11aa7b13c2d9ed13da.jpg" alt="" srcset="">
            </div>
            <p>Mkhulu </p>
        </div>
    </div>

    <a href="" class="leaders-btn">View All Leaders</a>
</section>

