<header>
    <div class="top-bar">
        <div class="location">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <div class="content">
                <p>We are here</p>
                <p>1006 Ramacwana street</p>
            </div>      
        </div>
        
        <div class="logo">
            <div id="logo"></div>
            <h3>Spiritual Ginger</h3>
        </div>
        <div class="hours">
            <div class="content">
                <p>Working Hours</p>
                <p>Mon - Fri 8:00am - 17:00pm</p>
            </div>           
            <i class="fa fa-clock-o" aria-hidden="true"></i>
        </div>
    </div>
    <nav>
        <ul>
            <li> <a routerLink="/">Home</a></li>
            <li><a href="">Gifts</a></li>
            <li><a routerLink="leaders">Leaders</a></li>
            <li><a routerLink="tools">Tools</a></li>
        </ul>
        <a href="" class="dream-btn">Dream Interpreter</a>
    </nav>
    
</header>


