<div class="journey-card">
    <div class="image-box">
        <img src="../../../assets/images/journey1.png" alt="Journey 1">
    </div>
    <div class="content">
        <app-content-box
         background="#11202F"
         title="Unexplained Strange Dreams"
         message="For most people their spiritual awakening begins with
          having strange dreams that do in fact indicate that you
           have a calling from the other side. The dreams come 
           in many forms which may include but not limited to,
            dreams of snakes, seeing people you do not know 
            wearing spiritual cloths, spiritual cloths, beads etc "
            link="stuff"
        ></app-content-box>
    </div>
    
</div>


<div class="journey-card alternative-card">
    <div class="image-box">
        <img src="../../../assets/images/journey2.webp" alt="Journey 1">
    </div>
    <div class="content">
        <app-content-box
         background="#554430"
         title="You You Fell Sick"
         message="For most people their spiritual awakening begins with
          having strange dreams that do in fact indicate that you
           have a calling from the other side. The dreams come 
           in many forms which may include but not limited to,
            dreams of snakes, seeing people you do not know 
            wearing spiritual cloths, spiritual cloths, beads etc "
            link="stuff"
        ></app-content-box>
    </div>
    
</div>


<div class="journey-card">
    <div class="image-box">
        <img src="../../../assets/images/journey3.png" alt="Journey 1">
    </div>
    <div class="content">
        <app-content-box
         background="#14181C"
         title="Things Fell Apart"
         message="For most people their spiritual awakening begins with
          having strange dreams that do in fact indicate that you
           have a calling from the other side. The dreams come 
           in many forms which may include but not limited to,
            dreams of snakes, seeing people you do not know 
            wearing spiritual cloths, spiritual cloths, beads etc "
            link="stuff"
        ></app-content-box>
    </div>
    
</div>

<div class="journey-card alternative-card">
    <div class="image-box">
        <img src="../../../assets/images/journey4.jpg" alt="Journey 1">
    </div>
    <div class="content">
        <app-content-box
         background="#4C0E09"
         title="You Consulted"
         message="For most people their spiritual awakening begins with
          having strange dreams that do in fact indicate that you
           have a calling from the other side. The dreams come 
           in many forms which may include but not limited to,
            dreams of snakes, seeing people you do not know 
            wearing spiritual cloths, spiritual cloths, beads etc "
            link="stuff"
        ></app-content-box>
    </div>
    
</div>

