<section class="tools-page-section">
    <app-navigation />
    <app-side-nav [items]="toolsItems"></app-side-nav>

    <div class="main">
        
       
        <app-item-info-card
            itemTitle="Red Candle"
            itemImage="../../../../assets/images/yellow candle.webp"
            itemMessage="Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, beatae magni enim nostrum quos fugiat rerum quas laboriosam voluptatem praesentium quasi voluptatibus ut similique inventore? Voluptatem magni velit quos sunt.
            Velit vel vitae, quaerat quo cum consequatur, ab non, voluptate accusantium provident nisi quis ipsum aperiam quas. Dolorem molestias architecto autem! Velit facere quos deleniti id nobis et, dolorum optio?
            Aut consequatur vero officia "
        />
        <!-- <img src="../../../../assets/icons/glass-of-water.png alt=" srcset=""> -->
        <app-item-info-card
            itemTitle="Red Candle"
            itemImage="../../../../assets/images/gifts/inyanga.jpg"
            itemMessage="Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, beatae magni enim nostrum quos fugiat rerum quas laboriosam voluptatem praesentium quasi voluptatibus ut similique inventore? Voluptatem magni velit quos sunt.
            Velit vel vitae, quaerat quo cum consequatur, ab non, voluptate accusantium provident nisi quis ipsum aperiam quas. Dolorem molestias architecto autem! Velit facere quos deleniti id nobis et, dolorum optio?
            Aut consequatur vero officia Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, beatae magni enim nostrum quos fugiat rerum quas laboriosam voluptatem praesentium quasi voluptatibus ut similique inventore? Voluptatem magni velit quos sunt.
            Velit vel vitae, quaerat quo cum consequatur,"
        />
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, beatae magni enim nostrum quos fugiat rerum quas laboriosam voluptatem praesentium quasi voluptatibus ut similique inventore? Voluptatem magni velit quos sunt.
        Velit vel vitae, quaerat quo cum consequatur, ab non, voluptate accusantium provident nisi quis ipsum aperiam quas. Dolorem molestias architecto autem! Velit facere quos deleniti id nobis et, dolorum optio?
        Aut consequatur vero officia dolorum excepturi labore blanditiis dolorem totam quia officiis ad voluptatum, rerum facere harum ipsum quibusdam saepe, distinctio ipsa tempore ut voluptate quaerat esse nulla repellat. Quam.
        Natus consequuntur quis perferendis praesentium libero distinctio sunt porro, vitae ab placeat quasi debitis magnam sequi modi aperiam, dicta non quae consequatur voluptate? Veniam quisquam facilis unde dolorem voluptas dolor! Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid natus similique blanditiis magnam sequi tenetur voluptatum pariatur officia amet quia? Voluptatum aliquam vero alias repellendus asperiores consectetur nam officia perferendis.
        Exercitationem veritatis ad nihil odio repudiandae libero dolores eligendi ab autem, dicta facere a nemo inventore praesentium iusto odit? Facilis dolorem libero provident molestias voluptate repellendus pariatur maxime cum in.
        Saepe excepturi sapiente ullam recusandae nemo commodi sit, laborum praesentium reiciendis, id, fuga temporibus quam quae. Delectus consequatur dolorem quaerat enim adipisci dolor ex voluptatibus temporibus, odio dolore hic ratione?
        Culpa quae quam magnam doloribus vero eveniet illum impedit aperiam qui dicta non itaque omnis tempore, iste voluptatum sapiente voluptate magni ipsam nulla pariatur iusto, sequi error harum! Aliquam, nemo?
        Velit at expedita assumenda quis et. Soluta debitis ex delectus consectetur quae ut et similique! Exercitationem, minima est necessitatibus voluptatibus modi incidunt adipisci, ipsa accusantium tempora, reiciendis magnam numquam sit.
        Voluptas sequi harum obcaecati eius, error distinctio culpa quod nisi earum, molestias illo praesentium minus expedita repudiandae repellendus voluptatem recusandae suscipit dolorum iste. Voluptas ratione sit blanditiis deserunt placeat. Nulla.
        Maiores, soluta aliquid, quis non atque praesentium aliquam dolores illum cumque reprehenderit labore sequi quos. Qui quasi animi sapiente quam nostrum velit quos laborum cupiditate magnam sunt, harum quod beatae?
        Ab reprehenderit id molestias. Obcaecati ad modi consequatur magni possimus deserunt quod hic quia exercitationem vel repellat earum, mollitia labore aperiam esse facere, dolores repudiandae delectus nostrum itaque assumenda. Optio? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex laudantium exercitationem odio accusantium tenetur eveniet hic minus! Illum, nam est! Maiores magnam nisi iste eligendi adipisci, reiciendis nesciunt ea tempora.
        Est magni sint, consequatur hic similique vero architecto blanditiis modi dolores iure nesciunt reprehenderit natus, dolor veritatis recusandae! Officia eveniet corrupti delectus temporibus exercitationem voluptate quae dolorem eum rerum sequi.
        Explicabo mollitia veniam ad recusandae et exercitationem a alias, quam atque minima ratione itaque corrupti commodi quidem veritatis aliquam inventore ipsam eligendi eveniet possimus iure? Quos magnam sint blanditiis accusamus.
        Aut soluta voluptatibus, aspernatur sint illum minima modi fugit nostrum doloremque quod distinctio eius ad optio? Debitis ut, in commodi sapiente, saepe consequatur dignissimos temporibus magni aliquam quisquam, id officia.
        Vel, nam incidunt ullam ipsam magnam ab nesciunt ratione, obcaecati velit vitae libero dolore. Est nihil magni totam optio similique rem molestiae sint adipisci! Corporis nostrum dignissimos inventore ipsam fugiat!
        Ipsum, accusantium culpa vel ipsa quam recusandae rerum esse a reiciendis officia ut. Quas neque eos cupiditate voluptatem. Harum maxime possimus amet? Perspiciatis iusto numquam quas ipsum tempora assumenda asperiores.
        Sapiente, perspiciatis ad porro quas amet aliquid quos modi nulla officia eius dolorem nisi doloremque repellat non soluta repudiandae ipsam quasi voluptatem eos voluptas ipsum vel possimus? Quidem, ab quo!
        Ratione nam necessitatibus itaque quis optio nemo molestias accusamus sapiente illum voluptate provident labore quia cupiditate reprehenderit magnam, laboriosam laborum tenetur dicta voluptatibus pariatur facere facilis modi. Deserunt, provident aperiam!
        Ex maiores est minima assumenda rerum saepe nesciunt perspiciatis voluptatibus? Incidunt iure, qui ut error tempore pariatur accusantium odio autem consectetur excepturi vitae cumque optio saepe, inventore ratione quae ea?
        Cumque laudantium, cupiditate eligendi, quibusdam minus soluta, consequuntur inventore a quaerat fugiat numquam! Odit ex hic, ipsam omnis enim tempora suscipit alias recusandae commodi expedita, odio deleniti voluptates veritatis saepe!</p>
    </div>
</section>

