<div class="leader-info">
    <div class="image-box">
        <img src="../../../../assets/images/leaders/dineo.png" alt="" srcset="">
    </div>
    <h3 id="leader-name">{{leaderName}}</h3>
    <p id="profession">{{profession}}</p>
    <div class="contact-details">
        <a href="">
            <img src="../../../../assets/icons/youtube2.png"  id="youtube" srcset="">
        </a>
        <a href="">
            <img src="../../../../assets/icons/facebook.png" alt="facebook" srcset="">
        </a>
        <a href="">
            <img src="../../../../assets/icons/instagram.png" alt="" srcset="">
        </a>
        <a href="">
            <img src="../../../../assets/icons/whatsapp.png" alt="" srcset="">
        </a>
        <a href="">
            <img src="../../../../assets/icons/twitter.png" alt="" srcset="">
        </a>
        <a href="">
            <img src="../../../../assets/icons/tiktok.png" alt="" srcset="">
        </a>
    </div>
    <div class="liner"></div>
    <div class="about-leader">
        <p id="leader-paragraph">{{leaderInformation}}</p>
    </div>
</div>
