<header>
   
    <nav>
        <ul>
            

            <li> 
                <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Home</a>
            </li>
            <li>
                <a routerLink="/gifts-page" routerLinkActive="active-link">Gifts</a>
            </li>
            <li>
                <a routerLink="/leaders-page" routerLinkActive="active-link">Leaders</a>
            </li>
            <li>
                <a routerLink="/tools-page" routerLinkActive="active-link">Tools</a>
            </li>
            <li>
                <a routerLink="/about-page" routerLinkActive="active-link">About</a>
                
            </li>
        </ul>
        
    </nav>
    
    
</header>
