<app-navigation></app-navigation>
<app-landing-page></app-landing-page>
<app-intro-banner
    title="Your Spiritual Journey Has Begun" 
    message="Welcome, Seeker. Your journey towards spiritual awakening has just 
    started. Embrace each step with patience and dedication, knowing that profound 
    growth awaits."
    background="#fff"
    [linerBackground]="'#ED9B35'"
    [showLiner]="true">
>   
</app-intro-banner>
<app-journey-card></app-journey-card>
<app-types-of-gifts></app-types-of-gifts>
<app-channels-of-communication></app-channels-of-communication>
<app-about-us></app-about-us>
<app-leaders-component></app-leaders-component>
<app-contact-us></app-contact-us>
<app-footer-component></app-footer-component>

