.tabs{
    width: 100%;
}

.tabs ul {
    display: flex;
    background-color: #364854;
    position: sticky;
    top: 0;

}

.tabs ul li{
    padding: 10px 20px;
    position: sticky;
    top: 0;
}
.tabs ul li:hover{
    cursor: pointer;
}

.active{
    background-color: purple;
    color: #fff;
}
