<div class="tabs">
    <ul>
        <div class="tab-items">
            <li *ngFor="let tab of tabItems; let i = index" 
                [ngClass]="{active: selectedTab === i}"
                (click)="selectTab(i)">
                {{tab.label}}
            </li>
        </div>
        <h4 class="dash-heading">{{dashHeader}}</h4>
    </ul>

    <div class="tab-content">
        <ng-container *ngIf="tabContents[selectedTab]">
            <ng-container *ngTemplateOutlet="tabContents[selectedTab]"></ng-container>
        </ng-container>
    </div>
</div>
