<section class="contact-section">
    <form action="" method="post" class="contact-form">
        <h3>Contact Us</h3>
        <div class="liner"></div>
        <p>Feel free to contact us anytime we will 
            get back to you as soon as we can
        </p>

        <input type="text" name="" id="name" placeholder="Name">
        <input type="email" name="" id="email" placeholder="Email">
        <textarea name="" id="" placeholder="Message"></textarea>
        <button type="submit">Send</button>
        
        
    </form>
    <div class="side-bar"></div>

    <div class="info">
        <h4>Info</h4>
        <div class="info-item">
            <i class="fa fa-envelope" aria-hidden="true"></i> 
            <p>spiritualginger.co.za</p>
        </div>
        <div class="info-item">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <p>+27 081 8727 888</p>
        </div>
        <div class="info-item">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <p>24 Gerald st, Meadhood PTA</p>
        </div>
        <div class="info-item">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <p>09:00 - 18:00</p>
        </div>
    </div>
</section>
