<section class="intro-section">
    <div class="intro-box">
        <h3>What is African Spirituality</h3>
        <div class="liner"></div>
        <p>African Spirituality  is a rich and
           deeply rooted belief system that focuses on the connection between the 
           living, ancestors, nature, and the divine. You the healer are a  
           spiritual guide, and your key role is to maintain balance, 
           offering insight, healing, and connecting to the spiritual world. 
           Understanding your gift requires embracing the idea that 
           the physical and spiritual worlds are intertwined, with ancestors and 
           nature being central to maintaining the harmony of life.
        </p>
    </div>    
</section>