<app-navigation />


<div class="section-about-us">
    <!-- <app-intro-banner 
        title="About Us" 
        message=""
        background="#fff"
        [linerBackground]="'#ED9B35'"
        [showLiner]="true"
    /> -->

    <div class="content-box">
        <h3>Who are we?</h3>
        <div class="liner" ></div>
        <p>We stand before you today as a dedicated group of spiritual students who have delved deeply
            into the practices of African Spirituality within the unique context of Southern Africa. 
            Each of us has not only taken the time to learn and understand these sacred traditions 
            but has also connected personally with them. This journey has allowed us to discover our own
            unique gifts—gifts that we’re committed to sharing with others.
        </p>

    </div>
    
    <div class="content-box">
        <h3>Why do we do this?</h3>
        <div class="liner" ></div>
        <p>Our purpose is simple yet profound: we want to help those who are seeking wisdom, clarity, 
           and a deeper connection with their spiritual guides. For anyone who has ever felt the call 
           to explore their spiritual path, we hope to offer a guiding hand—a starting point that will 
           empower you to begin your own journey. We know that this path can seem uncertain at first, 
           but with a bit of guidance and insight, we believe everyone can experience the peace, wisdom, 
           and strength that African Spirituality has to offer.
        </p>
    </div>

    <div class="content-box">
        <p>So, if you are looking for that first step or that foundational understanding, we are here 
            to provide a benchmark, a place to start, and the support to connect you with the wisdom that 
          has inspired us so deeply. Thank you.
        </p>
    </div>

    <div class="pattern"></div>
   
</div>


