<app-intro-banner
    title="Channels Of Communication" 
    message="These are some of the tools that can be used to communicate with the 
    spiritual realm"
    background="#fff"
    [linerBackground]="'#ED9B35'"
    [showLiner]="true">
 
</app-intro-banner>

<div class="tools-container">
    <a routerLink="/information"  class="tools-box">
        <img src="../../../../assets/images/tools1.jpg" alt="" srcset="">
        <!-- <a routerLink="/information">CANDLES</a> -->
         <app-button link="/register-page"  buttonText="CANDLE" borderColor="#BF9C7d"/>
        
    </a>

    <a routerLink="/tools" routerLinkActive="active-link" class="tools-box">
        <img src="../../../../assets/images/tools2.jpg" alt="" srcset="">
        <!-- <a href=""></a> -->
        <app-button link="/register-page"  buttonText="Mphepho" borderColor="#BF9C7d"/>
    </a>

    <a routerLink="/tools" routerLinkActive="active-link" class="tools-box">
        <img src="../../../../assets/images/tools3.jpg" alt="" srcset="">
        <!-- <a href="">CLOTHS</a> -->
        <app-button link="/register-page"  buttonText="Cloths" borderColor="#BF9C7d"/>
    </a>

    <a routerLink="/tools" routerLinkActive="active-link" class="tools-box">
        <img src="../../../../assets/images/tools4.png" alt="" srcset="">
        <!-- <a href="">SNUFF</a> -->
        <app-button link="/register-page"  buttonText="Snuff" borderColor="#BF9C7d"/>
    </a>
    <a routerLink="/tools" routerLinkActive="active-link" class="tools-box">
        <img src="../../../../assets/images/tools5.jpg" alt="" srcset="">
        <!-- <a href="">WATER</a> -->
        <app-button link="/register-page"  buttonText="Water" borderColor="#BF9C7d"/>
    </a>
    <a routerLink="/tools" routerLinkActive="active-link" class="tools-box">
        <img src="../../../../assets/images/tools6.jpg" alt="" srcset="">
        <!-- <a href="">BIBLE</a> -->
        <app-button link="/register-page"  buttonText="Bible" borderColor="#BF9C7d"/>
    </a>
</div>
