<app-intro-banner
    title="Channels Of Communication" 
    message="These are some of the tools that can be used to communicate with the 
    spiritual realm"
    background="#fff"
    [linerBackground]="'#ED9B35'"
    [showLiner]="true">
>   
</app-intro-banner>

<div class="tools-container">
    <div class="tools-box">
        <img src="../../../../assets/images/tools1.jpg" alt="" srcset="">
        <a href="">CANDLES</a>
    </div>

    <div class="tools-box">
        <img src="../../../../assets/images/tools2.jpg" alt="" srcset="">
        <a href="">MPHEPHO</a>
    </div>

    <div class="tools-box">
        <img src="../../../../assets/images/tools3.jpg" alt="" srcset="">
        <a href="">CLOTHS</a>
    </div>

    <div class="tools-box">
        <img src="../../../../assets/images/tools4.png" alt="" srcset="">
        <a href="">SNUFF</a>
    </div>
    <div class="tools-box">
        <img src="../../../../assets/images/tools5.jpg" alt="" srcset="">
        <a href="">WATER</a>
    </div>
    <div class="tools-box">
        <img src="../../../../assets/images/tools6.jpg" alt="" srcset="">
        <a href="">BIBLE</a>
    </div>
</div>
