<section class="about-us-section">
    <div class="about-us-box">
        <h3>About Us</h3>
        <div class="liner"></div>
        <p>We understand that beginning this path can be overwhelming, especially 
            when you're unsure where to start. Our mission is to provide you with
             the knowledge, guidance, and resources you need to embark on this 
             transformative adventure with confidence. Through a rich collection 
             of insights, teachings, and tools rooted in African spirituality, we 
             aim to illuminate your way and help you connect with your inner self. 
             Join our community of seekers, explore diverse spiritual gifts, and 
             find the support you need to grow and thrive on your spiritual path.</p>
    </div>
</section>
