<section class="dash-users">
    <h3>User Info</h3>
    <div class="liner"></div>
    
    <div class="user-table">
        <table>
            <thead>
                <tr>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Actions</th> 
                </tr>
            </thead>
              <tbody>
                <tr *ngFor="let user of users | paginate: { itemsPerPage: pageSize, currentPage: p, totalItems: totalUsers }">
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.phoneNumber }}</td>
                    <td class="editorials">
                        <button class="delete-leader-btn"  (click)="deleteUser(user?.id)">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#ffff"><path d="m376-300 104-104 104 104 56-56-104-104 104-104-56-56-104 104-104-104-56 56 104 104-104 104 56 56Zm-96 180q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520Zm-400 0v520-520Z"/></svg>
                        </button>
                    </td>
                </tr>
              </tbody>   
        </table>
        
        <div class="pagination">
            <button [disabled]="currentPage === 1" (click)="goToPreviousPage()">Previous</button>
            <span>Page {{ currentPage }} of {{ totalPages }}</span>
            <button [disabled]="currentPage === totalPages" (click)="goToNextPage()">Next</button>
        </div>
    </div>
</section>


