<section class="dash-gifts">
    <app-dash-tab [tabItems]="tabItems" [tabContents]="tabContentTemplates"></app-dash-tab>

    <!-- Templates for each tab's content -->
    <ng-template #firstTabContent>
        <div class="submission-side">
            <h3>Add New Gift</h3>
            <div class="liner"></div>
            
            <form action="">
                
                    
                <input type="password" placeholder="Password" id="password" class="form-control" required name="password" >
            
                <select name="category" id="categories" form="carform">
                    <option value="">--Select a category--</option>
                    <option value="Traditional Healer">Traditional Healer</option>
                    <option value="Prophetic">Prophetic</option>
                    <option value="Psychic">Psychic</option>
                    <option value="Seer/Teacher">Seer/Teacher</option>
                </select>
                
                <div class="editor-container">
                    <div class="editor-scroll">
                      <app-text-editor></app-text-editor>
                    </div>
                  </div>
                  
                <input type="file" id="img" name="img" accept="image/*">
                <div class="full-width-button">
                    <app-button 
                        link="/register-page"  
                        buttonText="Submit"
                        hoverBackgroundColor="#bf9c7d"
                        width="100%"
                    ></app-button>
        
                </div>
        
            </form>
        </div>
    </ng-template>

    <ng-template #secondTabContent>
       
        <div class="gift-table">
            <table>
                <thead>
                    <tr>
                        <th>Gift Image</th>
                        <th>Gift Name</th>
                        <th>Gift Category</th>
                        <th>Gift Description</th>
                     </tr>
                </thead>  
                <tbody>
                    <tr>
                    <td>cell1_1</td>
                    <td>cell2_1</td>
                    <td>cell3_1</td>
                    <td>cell4_1</td>
                    </tr>
                    <tr>
                    <td>cell1_2</td>
                    <td>cell2_2</td>
                    <td>cell3_2</td>
                    <td>cell4_2</td>
                    </tr>
                    </tbody>            
            </table>
        </div>
        
    </ng-template>
</section>



