.dash-gifts{
    padding: 0;
}
.submission-side{
    padding: 30px;
}
p{
    margin-bottom: 15px;
}
form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

input,select{
    width: 49%;
}

.full-width-button {
    width: 49%;
    display: flex;
    justify-content: center;
  }
  
  .full-width-button app-button {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

  .liner{
    content: "";
    width: 65px;
    height: 2px;
    background-color: #E5AC66;
    margin:15px 0 30px 0;
    
}

.editor-container {
    width: 100%; /* or set specific width */
    height: 20rem; /* adjust height */
    background-color: #f1ebe3;
    padding: 10px;
    margin-bottom: 20px;
    overflow-x: scroll;
    
}
