.gifts-container{
    color: #fff;
}



.gift-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: none;
   
}



.gift-card{
    width: 24.6%;
    height: 500px;
    overflow: hidden;
    position: relative;
    /* background:red; */
}

.gift-card:hover img{
    transform: scale(1.1) rotate(5deg);
}



.gift-card img{
    width: 100%;
    height: 400px;
    transition: transform 0.5s ease;
}

.gift-card .gift-content{
    background: #272d32;
    padding: 15px;
    color: #fff;
    position: absolute;
    text-decoration: none;
    width: 100%;
    /* margin-top: -5px; */
    border-top: 3px solid #BF9c7D;
    transition: transform 0.5s ease;
}

.gift-card:hover .gift-content{
    background: #BF9c7D;
    border-top:3px solid #fff
}


.credit-container{
    width: 100%;
    
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.credit-container a{  
    color: #fff;  
    background: #BF9c7D ;
    padding: 10px 20px 0 20px;
    height: 40px;
    margin: auto 0;
    border: 1px solid #fff;
}


.credit{
    display: flex;
    align-items: center;
}

.credit p{
    font-style: italic;
    margin-right: 10px;
}

.credit img{
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 60px;
}
