<div class="gifts-container">
    <app-intro-banner
        title="Types of Gifts" 
        message="Within the rich tapestry of African spirituality lies a myriad
         of unique and powerful gifts. Each one offers profound insights 
         and connections. Curious to learn more? Click the button below to 
         explore the fascinating world of African spiritual gifts."
        background="none"
        [linerBackground]="'#14181C'"
        [showLiner]="true">
    >   
    </app-intro-banner>

    <div class="gift-box">
        <a href="" class="gift-card"> 
            <img src="./../../../../assets/images/gift1.jpg" alt="" srcset="">
            <div class="gift-content">Isthunywa / Moporofeter / Messenger</div>       
        </a>

        <a href="" class="gift-card"> 
            <img src="./../../../../assets/images/gift2.jpg" alt="" srcset="">
            <div class="gift-content">Inyanga / Ngaka / Healer</div>       
        </a>

        <a href="" class="gift-card"> 
            <img src="./../../../../assets/images/gift3.jpg" alt="" srcset="">
            <div class="gift-content"> Medium </div>       
        </a>

        <a href="" class="gift-card"> 
            <img src="./../../../../assets/images/gift4.jpg" alt="" srcset="">
            <div class="gift-content">Sanusi / Seer</div>       
        </a>
    </div>

    <div class="credit-container">
        <a href="">View Gifts</a>
        <div class="credit">
            <p>Images by Sanele Mstolo</p>
            <img src="" alt="" srcset="">
        </div>
    </div>
    
</div>



