@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}


body{
    padding: 0 30px;
    background-color: #0E1317;
    font-weight: 400;
    font-style: normal;
    
}

header{
    width: 100%;
    height: 5rem; 
    background-color: #0E1317;
    color: #979393;
}

p,li, a{
    font-family: "Abel", sans-serif;
    font-size: 1.05rem;
}
h3{
    font-size: 1.6rem;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    
}

#liner{
    content: "";
    width: 5.5rem;
    height: 2px;
    margin: 15px 0;
    background-color: #E5AC65;
}

/* button{
    border: none;
    border-radius: 0;
    padding: 10px 20px;
    background-color: #BF9C7D;
    border: 2px solid #fff;
    transition: all 0.2s ease;
}

button:hover{
    background-color: #E5AC65;
    color: #fff;
    border:2px solid #fff;
}

.dark-button{
    background-color: #171f25;
    border: 2px solid #BF9C7D ;
    color: #fff;
}

.dark-button:hover{
    background-color: #BF9C7D ;
    
}

.white-outline{
    background-color: none;
    color: #fff;
    border: 2px solid #fff;
}

.white-outline:hover{
    color: #fff;
    background-color: #BF9C7D;
} */

/***************************forms *****************************/
input, textarea, select{
    width: 100%; 
    background-color: #f1ebe3;
    border: none;
    /* border: 2px solid #abacad; */
    margin-bottom: 20px;
    padding: 18px 10px;
    font-size: 0.9rem;
}



input:focus, 
textarea:focus {
    outline: none; /* Remove default outline */
    border: 2px solid #BF9C7D; /* Change border color to highlight */
    box-shadow: 0 0 10px rgba(191, 156, 125, 0.7); /* Add a subtle shadow effect */
    background-color: #f5f3f3; /* Optional: Lighten background for focus */
    transition: all 0.3s ease; /* Smooth transition effect */
}

input::placeholder,
textarea::placeholder{
    color: #616364;
}

textarea{
    height: 100px;
    resize: none;
    margin-top: 10px;
}



.form-group{
    display: flex;
    width: 100%;
    height: 3.7rem;
    margin: 30px 0 20px 0;
}
.form-group .icon-container{
    width: 17%;
    height: 100%;
    background-color: #d1baa0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-group input{
    width: 83%;
    height: 100%;
}

.liner{
    content: "";
    width: 65px;
    height: 2px;
    background-color: #E5AC66;
    margin: 15px 0;
    
}


:host {
    display: block;
    width: 100%; /* Adjust this width as needed */
    height: 400px; /* Adjust the height as needed */
}

/* Styles for the editor area */
.ck-editor__editable {
    background-color: #f1ebe3;
    min-height: 16.2rem; /* Adjust the minimum height */
    width: 100%;
    padding: 16px;
    border-radius: 8px;
    box-sizing: border-box;
}
