<app-navigation></app-navigation>
<app-intro-banner
    title="Leaders in African Spirituality" 
    message="These are some of the popular leaders in the African Spirituality 
    pushing boundries and educating the masses about this diverse way of life. "
    background="#fff"
    [linerBackground]="'#ED9B35'"
    [showLiner]="true">
>   
</app-intro-banner>
<img src="" alt="" srcset="">
<div class="leaders-section">
    <app-leader-card 
        leaderImage="../../../assets/images/leaders/credo.jpg"
        leaderName="Credo Vulamasango Mutwa"
    ></app-leader-card>
    <app-leader-card 
        leaderImage="../../../assets/images/leaders/dineo.png"
        leaderName="Credo Vulamasango Mutwa"
    ></app-leader-card>
    <app-leader-card 
        leaderImage="../../../assets/images/leaders/ntsingiswa1.png"
        leaderName="Credo Vulamasango Mutwa"
    ></app-leader-card>
    <app-leader-card 
        leaderImage="../../../assets/images/leaders/skhotheni.jpg"
        leaderName="Credo Vulamasango Mutwa"
    ></app-leader-card>
    <app-leader-card 
        leaderImage="../../../assets/images/leaders/velaphi.webp"
        leaderName="Credo Vulamasango Mutwa"
    ></app-leader-card>
    <app-leader-card 
        leaderImage="../../../assets/images/leaders/gogo-moyo.jpg"
        leaderName="Credo Vulamasango Mutwa"
    ></app-leader-card>
    <app-leader-card 
        leaderImage="../../../assets/images/leaders/mphowabadimo.jpg"
        leaderName="Credo Vulamasango Mutwa"
    ></app-leader-card>
    <app-leader-card 
        leaderImage="../../../assets/images/leaders/bathini.jpg"
        leaderName="Credo Vulamasango Mutwa"
    ></app-leader-card>
    <app-leader-card 
        leaderImage="../../../assets/images/leaders/lloyd.webp"
        leaderName="Credo Vulamasango Mutwa"
    ></app-leader-card>
   
</div>

<div class="leaders-info">
    <button class="btn-prev"><i class="fa fa-angle-left" aria-hidden="true"></i>
    </button>
    <button class="btn-next"><i class="fa fa-angle-right" aria-hidden="true"></i>
    </button>
    <div class="btn-close"><img src="../../../assets/icons/white-cross.png" alt="" srcset=""></div>
    <app-leaders-info></app-leaders-info>
</div>

